html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #040404;
  background-color: rgb(196, 196, 196);
}

button {
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 62px 84px 72px 77px;
}

.article {
  max-width: 500px;
  margin: 0 auto;
}
.search {
  margin-bottom: 53px;
  max-width: 500px;
}

.search__input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;

  max-width: 500px;
  padding-left: 13px;
  padding-top: 5px;
  border: none;
}

.autocompleteList {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}
.autocompleteList__item {
  background-color: rgb(227, 227, 227);
  max-width: 500px;
  padding-left: 13px;
  padding-bottom: 9px;
  border: 2px solid black;
}
.autocompleteList__item:focus,
.autocompleteList__item:hover {
  background-color: #65cdf9;
}
/*  */
.repo {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  max-width: 500px;
}

.repoList__item {
  background-color: rgb(226, 123, 235);
  max-width: 500px;
  padding-left: 13px;
  padding-bottom: 9px;
  border: 1px solid black;
  padding: 8px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__delete {
  width: 42px;
  height: 42px;
  position: relative;
  margin-right: 17px;
}

.btn__delete:before,
.btn__delete:after {
  content: '';
  position: absolute;
  background-color: red;
}

.btn__delete:before,
.btn__delete:after {
  width: 4px;
  height: 100%;
  top: 0;
  left: 50%;
  transform-origin: center;
}

.btn__delete:before {
  transform: rotate(45deg);
}

.btn__delete:after {
  transform: rotate(-45deg);
}
